@font-face {
  font-family: "norse_bold";
  src: url("fonts/Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}

.main-container{
  display: flex;
}

.image-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 35%;
}
.background-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-container {
  position: absolute;
  padding: 5px 0 5px 0;
  height: 15%;
  width: 100%;
  z-index: 1;
  top: 23%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.odin-logo {
  object-fit: cover;
  height: 90%;
}

.sidebar-title {
  color: white;
  font-family: "norse_bold";
  font-size: 9rem;
}

.user-container{
  position: relative;
}
.intro-container{
  color: black;
  border: solid 2 black;
}

input{
  outline: none;
  border: 2px solid #E5E7EB;
}

input:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: 1px 1px 5px;
}

input[type="password"]:invalid{
  outline: none;
  border: 2px solid red;
}